.signup-alert {
    border: 1px solid #EAEAEA;
    border-radius: 2px;
    color: #D73321;
    display: none;
    font-size: 11px;
    margin: 5px 0px 20px 0px;
    padding: 10px;
    text-align: center;
}